<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here you see all student page data:</h1>

    <table border="1" cellspacing="1">
        
        <tr>
        
            <th>Name </th>
            <th>Age </th>
            <th>Course </th>
            <th>Address </th>
            <th>Actions</th>

        </tr>
        {% for i in std %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.age}}</td>
            <td>{{i.course}}</td>
            <td>{{i.address}}</td>
            <td>
                <a href="/update_student/{{i.id}}"><button>Update</button></a>
                <a href="/delete_student/{{i.id}}"><button>Delete</button></a>
            </td>
           
        </tr>
        
          
      
        {% endfor %}  
    </table>
   
</body>
</html>